@import "tailwindcss";

:root {
  --background: #d9d9d9;
  --foreground: #222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --foreground: #d9d9d9;
  }
}

body {
  font-size: 12pt;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 15pt;
  font-weight: bold;
  color: #fdd008;
}

#grid {
  display: inline-grid;
  align-content: center;
  align-items: center;
  gap: 5px;
}

.floatbox {
  background: var(--background);
  border-radius: 10px;
  border: 1.5px solid #333;
  text-align: center;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 1px;
}
