@import "tailwindcss";

:root {
  --background: #d9d9d9;
  --foreground: #222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --foreground: #d9d9d9;
  }
}

body {
  font-size: 12pt;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 15pt;
  font-weight: bold;
  color: #fdd008;
  margin: 10 auto;
  width: 100%;
  /* display: inline-block; */
  /* position: static; */
  /* align-self:center; */
}

h3 {

  font-size: 12pt;
  font-weight: bold;
  color: #fdd008;
  margin: 10 auto;
  /* width: 0%; */
  /* display: inline-block; */
}

#grid {
  display: grid;
  align-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  width: 50%;
}

.readerFloatbox {
  background: var(--background);
  border-radius: 10px;
  border: 4px solid #333;
  text-align: center;
  padding: 10px;
  margin: 5px;
  position: relative;
  /* position: inherit; */
  /* align-items: center; */
  /* box-shadow: 2px 2px 1px; */
}

.icon {
  margin: 5 3;
  /* min-width: hei; */
}

.inputs {
  background-color: white;
  color: black;
}

.box {
  background: var(--background);
  border-radius: 10px;
  /* border: 4px solid #333; */
  text-align: center;
  padding: 10px;
  margin: 5px;
  /* box-shadow: 2px 2px 1px; */
}


@layer base {
  button {
    border: none;
    /* background-color: green; */
    /* box-shadow: none; */
    font-size: 25px;
    display: flex;
    align-items: center;
    /* position: ; */
    
    border-radius: 8px;
    position:absolute;
    width:fit-content;
    height:fit-content;
    right: 10;
    top: 15;
    cursor: pointer;
    /* padding: 100 auto; */
  }

  button:hover {
    /* background-color: darkgreen; */
  }
}